# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Virtual environments
.env/
.venv/
ml-env/

# Python dotenv
.env*

# VSCode settings
.vscode/

# macOS
.DS_Store

# Logs and databases
*.log
*.sqlite3

# Outputs, models, checkpoints
/output_*.png
data/Images_new/output_image_*.png
notebook/models/
notebook/blip-finetuned/
models/
checkpoints/

# Pip cache
pip-wheel-metadata/
*.egg-info/
dist/
build/

# HuggingFace cache
~/.cache/huggingface/

# Misc
*.bak

